blockquote
    padding .4em 20px
    margin-top 10px
    border-left 4px solid rgba(147, 181, 224, .4)
    background rgba(255,255,255,0.4)
    p
        margin-top 0
    blockquote
        border-left none
