li
    margin .1em
    font-size 1.1em

ul
    li::before
        display inline-block
        content ""
        width .4em
        height .4em
        margin-right .5em
        margin-bottom .11em
        border 1px solid lightgray
        border-radius 50%
        background lightgray

ul, ol
    font-size 14px
    margin 10px 0  

li
    ul, ol
        margin-left 30px
        libefore
            content ""
            background #dedede
