table
    width 100%
    max-width 65em
    border 1px solid #dedede
    margin 15px auto
    border-collapse collapse
    empty-cells show
    tr,td
        height 35px
    th 
        font-weight bold
        text-align center
        background rgba(158, 188, 226, .2)
        white-space nowrap
    tbody
        tr:hover
          background #efefef
    td,th
        border 1px solid #dedede
        padding 0 10px
    tr:nth-child(2n) 
        background rgba(158, 188, 226, .12)
    td:nth-child(-n+2)
        white-space nowrap
