<!--[if lt IE 9]>
<style> body { background: orange !important;} div#container { display: none;} </style>
<p id="ie-updater">
    珍爱生命，远离 IE！<br>
    本站不支持 IE6/7/8，请升级浏览器！<br>
    Chrome, Firefox<br>
    Hexo Theme <a href="//github.com/MOxFIVE/hexo-theme-yelee">Yelee</a> by MOxFIVE
</p>
<![endif]-->