h1
    margin-top 30px

h2
    margin 0.5em auto
    color #9c9
    padding-bottom 5px
    border-bottom 1px solid #ddd
    text-align center
    &:hover
        color #88acdb
    &::before, &::after
        content " —— "
        font-family Arial

h3
    margin 0.5em auto
    color #438aac
    background rgba(243,248,253,0.6)
    border 1px solid #d2e8fa
    padding 0.2em 0.6em
    &:hover a
        text-decoration underline
    &::after
        content " >"

h4, h5, h6
    margin-top 20px
    color #574c4c
    padding-bottom 5px
    border-bottom 1px solid #ddd