li
    margin 0.1em
    font-size 1.1em

ul,
ol
    font-size 14px
    margin 10px 0px

li ul,
li ol
    margin-left 30px

li ul li:before,
li ol li:before
    content ""
    background #dedede

ul li:before
    display inline-block
    content ""
    width 0.4em
    height 0.4em
    margin-right 0.5em
    margin-bottom 0.11em
    border 1px solid #d3d3d3
    border-radius 50%
    background #d3d3d3
