table
    width 100%
    max-width 65em
    border 1px solid #dedede
    margin 15px auto
    border-collapse collapse
    empty-cells show
    th,td
        height 35px
        border 1px solid #dedede
        padding 0 10px
    th
        font-weight bold
        text-align center !important
        background rgba(158, 188, 226, .2)
        white-space nowrap
    tbody tr:nth-child(2n)
        background rgba(158, 188, 226, .12)
    td:nth-child(1)
        white-space nowrap
    tr:hover
        background #efefef