<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		Powered by <a href="http://hexo.io/" target="_blank" title="快速、简洁且高效的静态博客框架">Hexo</a>, <a href="https://pages.github.com/" title="GitHub Pages: Websites for you and your projects">GitHub</a> and theme <a href="https://github.com/MOxFIVE/M-Hexo-Blog" target="_blank" title="Building my Blog by Hexo & theme Yilia.">Yilia</a>
      	</div>
    </div>
    <div class="visit">
    <span id="busuanzi_container_site_pv" style='display:none'>
    本站到访数: <span id="busuanzi_value_site_uv"></span>,
    </span>
    本页阅读量: <span id="busuanzi_value_page_pv"></span>
    </div>
  </div>
</footer>