<div>
<a href="#" style="color:white" title="回页面顶部"><span class="scrolling-button" id="toTop">↑</span></a>
</div>
<div>
<a href="#footer" style="color:white" title="到页面底部"><span class="scrolling-button" id="toBottom">↓</span></a>
</div>